@page
@model JobPortal.Areas.Identity.Pages.Account.IndexModel
@{
}
<div class="text-center">
	<h1>Welcome</h1>
	<p>Are you an applicant looking for a job or company looking for new hires</p>
	<div class="row d-flex justify-content-center">
		<div class="col-md-2">
			<form asp-page="/Account/RegisterApplicant">
				<button class="btn btn-primary d-block mb-3 p-2">I'm looking for a job</button>
			</form>
		</div>
		<div class="col-md-2">
			<form asp-page="/Account/RegisterCompany">
				<button class="btn btn-primary d-block mb-3 p-2">I'm looking for a hire</button>
			</form>
		</div>
	</div>
</div>

