@{
	ViewData["Title"] = "Error";
}
<h1 class="text-danger">@ViewData["Title"]</h1>
<hr />
<h2 class="text-danger">An error occurred while processing your request.</h2>
<br />
<h5>Go to <a asp-action="Index" asp-controller="Home">Home</a> page</h5>