@{
	ViewData["Title"] = "Error";
}
<div class="text-center">
	<img style="width: 60vh; height: 30vh;" src="https://mlx3lspc9ed5.i.optimole.com/cb:HyqB.35717/w:auto/h:auto/q:mauto/https://www.bluehost.com/blog/wp-content/uploads/2023/06/what-is-a-401-error.png" />
	<h5>Unauthorized</h5>
	<h5>Go to <a asp-action="Index" asp-controller="Home">Home</a> page</h5>
</div>
