@{
	ViewData["Title"] = "Error";
}
<div class="text-center">
	<img src="https://img.freepik.com/free-vector/400-error-bad-request-concept-illustration_114360-1921.jpg" />
	<h5>Bad Request</h5>
	<h5>Go to <a asp-action="Index" asp-controller="Home">Home</a> page</h5>
</div>