@{
	ViewData["Title"] = "Error";
}
<h2 class="text-center">@ViewData["Title"]</h2>
<hr />
<div class="text-center">
	<img src="https://img.freepik.com/free-vector/oops-404-error-with-broken-robot-concept-illustration_114360-1932.jpg?size=338&ext=jpg&ga=GA1.1.1700460183.1712793600&semt=ais" />
	<h5>Sorry but this isn't a page</h5>
	<h5>Go to <a asp-action="Index" asp-controller="Home">Home</a> page</h5>
</div>