@model IndexModel
@{
    ViewData["Title"] = "Job Portal";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <hr />
    <p>This is web application for finding jobs and companies</p>
    <img class="rounded-3" 
    src="https://t3.ftcdn.net/jpg/04/51/83/22/360_F_451832202_e1QKPBz6HJm25BlNZwi0OT1404WGMs1i.jpg" />
</div>
