@model List<JobOffersViewModel>
@{
	ViewData["Title"] = "Оffers";
}
<h2 class="text-center">@ViewData["Title"]</h2>
<hr />
<div class="text-center row">
	@foreach (var e in Model)
	{
		<div class="card col-2 g-3 mx-3" style="width: 25rem; ">
			<div class="card-body">
				<partial name="_OffersPartial" for="@e" />
				<a asp-controller="Job" asp-action="Details" asp-route-id="@e.Id" 
				asp-route-info="@e.GetInformation() "class="btn btn-light mb-2 w-100 p-3 fw-bold">Details</a>
			</div>
		</div>
	}
</div>
