
@{
	ViewData["Title"] = "Job Details";
}
<h2 class="text-center">@ViewData["Title"]</h2>
<hr />
<div>
	<img  style = "width: 15rem;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d8/Billa-Logo.svg/2560px-Billa-Logo.svg.png" />
	<div class="col">
		<p>asdsad</p>
		<p>asdsad</p>
		<p>asdsad</p>
		<p>asdsad</p>
		<p>asdsad</p>
	</div>
	<div class="col">
</div>
