@page
@model JobPortal.Pages.Company.AddModel
@{
}
<h2 class="text-center">Add Job Offer</h2>
<hr />

<div class="row">
	<div class="col-md-4 mx-auto text-center">
		<form action="Add" method="post">
			<div class="mb-3">
				<label class="mb-3">Position</label>
				<input class="form-control" aria-required="true" />
				<span class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label class="mb-3">Status</label>
				<input class="form-control" aria-required="true" />
				<span class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label class="mb-3">Description</label>
				<textarea rows="4" class="form-control" style="resize: none;" aria-required="true"></textarea>
				<span class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label class="mb-3">Salary</label>
				<input class="form-control" aria-required="true" />
				<span class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label class="mb-3">Vacation</label>
				<input class="form-control" aria-required="true" />
				<span class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label class="mb-3">Bonus</label>
				<input class="form-control" aria-required="true" />
				<span class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label class="form-label-add-edit">Select Category</label>
				<select class="form-control" aria-required="true">
					<option disabled selected value="">Select Category...</option>
					<option value="">Tech</option>
				</select>
				<span class="text-danger"></span>
			</div>
			<div class="mb-3">
				<button type="submit" class="btn btn-primary px-5 py-3 rounded-2 border border-info">
					Submit
				</button>
			</div>
		</form>
	</div>
</div>
