<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Job Portal</title>
	<link rel="stylesheet" href="~/css/BootsWatchTheme.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-lg bg-light mb-lg-3" data-bs-theme="light">
			<div class="container">
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1">
						@if (User.Identity.IsAuthenticated)
						{
							<li class="nav-item">
								<a class="nav-link" asp-controller="Job" 
								asp-action="All">Job Offers</a>
							</li>
							@if (User.IsInRole("Company"))
							{
								<li class="nav-item">
									<a class="nav-link" asp-controller="Company" asp-action="All" asp-area="">My Offers</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" asp-controller="Company" asp-action="Add" asp-area="">Add Offer</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" asp-controller="Event" asp-action="Add" asp-area="">Create Event</a>
								</li>

							}
							@if (User.IsInRole("Company") || User.IsInRole("Applicant") || User.IsInRole("Admin"))
							{

								<li class="nav-item">
									<a class="nav-link" asp-controller="Event" asp-action="All" asp-area="">Events</a>
								</li>
							}
							@if (User.IsInRole("Applicant"))
							{
								<li class="nav-item">
									<a class="nav-link" asp-controller="Event" asp-action="Joined" asp-area="">Joined Events</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" asp-controller="Application" asp-action="Mine" asp-area="">My Applications</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" asp-controller="Application" asp-action="Create" asp-area="">Create application</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" asp-controller="Job" asp-action="AllCompanies" asp-area="">All companies</a>
								</li>
							}
							@if (User.IsInRole("Admin"))
							{
								<li class="nav-item">
									<a class="nav-link" asp-controller="Admin" asp-action="Users" asp-area="">Users</a>
								</li>
							}

						}
						else
						{
							<li class="nav-item">
								<a class="nav-link" asp-controller="Home" asp-action="Index" asp-area="">Home</a>
							</li>
						}
					</ul>
					<partial name="_LoginPartial" />
				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>