@using JobPortal.Core.Data.Identity
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@{
	var user = await UserManager.GetUserAsync(User);
	var firstName = user?.FirstName;
	var companyName = user?.CompanyName;
}

<ul class="navbar-nav">
	@if (User.Identity.IsAuthenticated)
	{
		if (User.IsInRole("Company"))
		{
			<li class="nav-item">
				<a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@user?.CompanyName</a>
			</li>
		}
		else if (User.IsInRole("Applicant"))
		{
			<li class="nav-item">
				<a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@user?.FirstName</a>
			</li>
		}

		<li class="nav-item">
			<form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" method="post">
				<button type="submit" class="nav-link btn btn-link">Logout</button>
			</form>
		</li>
	}
	else
	{
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">Register</a>
			<div class="dropdown-menu">
				<a class="dropdown-item" asp-area="Identity" asp-page="/Account/RegisterApplicant">Applicant</a>
				<a class="dropdown-item" asp-area="Identity" asp-page="/Account/RegisterCompany">Company</a>
			</div>
		</li>
		<li class="nav-item">
			<a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
		</li>
	}
</ul>
